
body{
  background: gray;
}
.project {
  page: chapter;
}

@page {
  /* size: 29.7cm 21cm ; */
  size: 10cm 10cm ;
  margin: 12mm 12mm;
  background: white;
}
@page chapter :first {
  @top-left {
    /* content: none; */
  }
  @top-left-corner {
    /* content: none; */
  }
  @top-right {
    content: "Workchain";
  }
  @top-right-corner {
    /* content: none; */
  }
}

/* blanck page: pages with no content */

@page :blank {
  @top-left-corner {
    content: none;
  }
  @top-left {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  background: white;
}

/* variable used for the boook */
:root {
  --background: rgba(0, 0, 0, 0.4);
  --color-paper: white;
  --color-margin-box: transparent;
  --color-page-box: grey;
  --size-margin-box: 2px;
}

/* set the running-title element AS a running title position */

.running-title {
  position: running(titleRun);
}

/* Binding the part layout to the section with a class 'part'  */

.part {
  page: part;
}

/* print css that's being rendered on screen */



@page part {
  background: darkcyan;
  color: white;
  @top-left-corner {
    content: none;
  }
  @top-left {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
}

/* layout for the left page */

@page :left {
  @top-left-corner {
    content: counter(page);
    padding-right: 3ch;
  }
  @top-left {
    content: element(titleRun);
  }
}

/* layout for the right page */

@page :right {
  @top-right-corner {
    content: counter(page);
    padding-left: 3ch;
  }
  @top-right {
    content: element(titleRun);
  }
}

/* BELOW COMES CSS FOR THE BOOK STYLING AND FOR THE THE PAGES ALIGNMENTS */

header p {
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: -6em;
  margin-left: -14ch;
  background: white;
  position: absolute;
  padding: 0.5em;
  padding-left: 4em;
}

header h1 {
  margin-top: 2em;
}

body {
  padding: 1em;
}

section {
  break-before: right;
}



/* To define how the book look on the screen: */
@media screen {
  body {
    background-color: var(--background);
  }
  .pagedjs_pages {
    display: flex;
    width: calc(var(--width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
    background: var(--color-paper);
    box-shadow: 0 0 0 1px inset var(--color-page-box);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10mm;
  }
  .pagedjs_first_page {
    margin-left: var(--width);
  }

  /* show the margin-box */

  [class*="pagedjs_margin-top"],
  [class*="pagedjs_margin-left"],
  [class*="pagedjs_margin-right"],
  [class*="pagedjs_margin-bottom"] {
    box-shadow: 0 0 0 var(--size-margin-box) inset var(--color-margin-box);
  }
}
